*{
    margin: 0;
    padding: 0;
}
.galle{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pic {
    
    width: 30%;
    height: 30vh;
    transition: transform 250ms ease-in-out;
    padding: 1rem;
   
}
.pic img
{
    border: 2px solid black;
    height:100%;
    width: 100%;

}
@media screen and (max-width:640px) {
    .pic{
        width: 45%;
    }
    
}
